@import "./colors.css";

* {
    font-family: "Hack Nerd Font", sans-serif;
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    border-radius: 8px;
}

window#waybar.empty #window {
    background-color: @background;
    border-radius: 50%;
    min-width: 8px;
}

#workspaces {
    background-color: @background;
    padding: 2px 4px;
    margin: 5px 4px;
    border-radius: 8px;
}

#workspaces button {
    padding: 0px;
    margin: 3px 3px;
    color: #6e6a86;
    background-color: #2a273f;
    border-radius: 20px;
    min-width: 26px;
    transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
    background-color: #393552;
    color: #e0def4;
}

#workspaces button.active {
    padding: 0px 4px;
    background-color: #e97295;
    color: #1f1d2e;
    min-width: 38px;
    border-radius: 20px;
}

#custom-system, #window, #clock, #backlight, #pulseaudio, #battery, #power-profiles-daemon, #custom-tray-icon, #tray {
    background-color: @background;
    padding: 0 12px;
    margin: 5px 4px;
}

#custom-system, #cpu, #memory, #temperature {
    background-color: @background;
    padding: 0 12px;
    margin: 5px 4px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

#custom-system {
    color: #c4a7e7;
    font-size: 15px;
    padding: 0 16px 0 10px;
}

#custom-system:hover {
    color: #eb6f92;
}

#cpu { color: #ebbcba; }
#memory { color: #f6c177; }
#temperature { color: #9ccfd8; }

#cpu:hover, #memory:hover, #temperature:hover {
    background-color: #262b35;
}

#window {
    color: #929db1;
    border-radius: 8px;
    padding: 0 15px;
}

#clock {
    color: #fab387;
    border-radius: 8px;
}

#backlight {
    color: #f38ba8;
    border-radius: 8px 0 0 8px;
    margin-right: 0;
}

#pulseaudio {
    color: #89dceb;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    transition: background-color 0.3s, color 0.3s;
}

#pulseaudio:hover {
    background-color: #262b35;
}

#battery {
    color: #a6e3a1;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
}

#power-profiles-daemon {
    margin-left: 0;
    border-radius: 0 8px 8px 0;
    padding-right: 14px;
}

#custom-tray-icon {
    color: #f6c177;
    border-radius: 8px;
    padding: 0 10px;
}

#tray {
    border-radius: 8px;
    margin-right: 0px;
}

label:focus {
    background-color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#power-profiles-daemon.performance { color: #f53c3c; }
#power-profiles-daemon.balanced    { color: #2980b9; }
#power-profiles-daemon.power-saver { color: #2ecc71; }

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to { background-color: #ffffff; color: #000000; }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray > .passive { -gtk-icon-effect: dim; }
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
