/* This is the config guide for Nebula theme
Here you can tweak the various settings like animations, features, etc. to your own preference 
by changing the variables or adding preferences in about:config
without searching through the code directly */


/* Tab Animations
    1. Tab switch animations
          Go to about:config and add a "number" "nebula-tab-switch-animation"
                                                Set number to 0 (for no animation)
                                                Set number to 2 (for style 2 which is more bouncy)
                                                Set number to 3 (for style 3 which is more bounce than default but very light)
                                                Set number to 4 (for style 4 which has no blur but instead smooth crossfade)
                                                Set number to 5 (for style 5 for zoom out effect)
                                                By default the style is set to 1 but no need to add its config

    2. Tab loading animations
          Go to about:config and add a "number" "nebula-tab-loading-animation"
                                                Set number to 0 (for no animation)
                                                Set number to 2 (for style 2 which is more prominant)
                                                Set number to 3 (for style 3 which has see through window)
                                                Set number to 4 (for style 4 which has no blur but grayscale when loading)
                                                Set number to 5 (for style 5 which has blur + grayscale)
                                                By default the style is set to 1 but no need to add its config
*/

/* Glow Animations
    1. Nebula hover glow animations
          Go to about:config and add a "number" "nebula-glow-gradient"
                                                Set number to 0 (for no animation)
                                                Set number to 2 (for monochrome gradient)
                                                Set number to 3 (for RGB gradient)
                                                By default the style is set to 1 but no need to add its config
                                                Note: these gradient presets apply to: tabs, Essentials, urlbar, miniplayer, extensions, and links when hovering over
*/

/* URLbar Animations
    1. URLbar opening animations
         Go to about:config and add a "number" "nebula-urlbar-animation"
                                               Set number to 0 (for no animation)
                                               Set number to 2 (for style 2 which has zoom out)
                                               Set number to 3 (for style 3 which has no blur but instead grayscale for background)
                                               By default the style is set to 1 but no need to add its config

/* Workspace button styling
    1. Workspace button style
         Go to about:config and add a "number" "nebula-workspace-style"
                                               Set number to 0 (for style 0 with no background but with style 2 animations)
                                               Set number to 2 (for style 2 which has more minimal look with smooth animations)
                                               By default the style is set to 1 but no need to add its config 

/* Customize Zen Nebula more! */

    /* 1. If you want no shadow around tabs:
        Go to about:config and add a "boolean" "nebula-tabs-no-shadow" and set it to true */

    /* 2. If you want NoGaps mod (ONLY for single toolbar mode):
        Go to about:config and add a "boolean" "nebula-nogaps-mod" and set it to true */

    /* 3. If you want marginless compact mode without NoGaps mod on default:
        Go to about:config and add a "boolean" "nebula-nogaps-compact-mod" and set it to true */

    /* 4. If you want to remove background for compact sidebar when websites are transparent:
        Go to about:config and add a "boolean" "nebula-compact-mode-no-sidebar-bg" and set it to true */

    /* 5. If you want to remove the background on Pinned tabs:
        Go to about:config and add a "boolean" "nebula-pinned-tabs-bg" and set it to true */

    /* 6. If you want to remove the workspace indicator:
        Go to about:config and add a "boolean" "nebula-remove-workspace-indicator" and set it to true */

    /* 7. If you want Pinned Extensions mod:
        Go to about:config and add a "boolean" "nebula-pinned-extensions-mod" and set it to true, then read the instructions
        on Github to pin extensions above essentials */

    /* 8. If you want to make icons of essential tabs gray:
        Go to about:config and add a "boolean" "nebula-essentials-gray-icons" and set it to true */

    /* 9. If you want to disable nebula's container styling:
        Go to about:config and add a "boolean" "nebula-disable-container-styling" and set it to true */

:root {
--nebula-border-radius: 13px; /* This will change roundness of everything in Nebula (DEFAULT: 13px) */
--nebula-website-tint: light-dark(rgba(255,255,255,0),rgba(0,0,0,0)); /* Edit the color values to change the tint on transparent websites */
--nebula-ui-tint: light-dark(rgba(255,255,255,0.2),rgba(0,0,0,0.2)); /* Edit the color values to change the tint of sidebar and etc. */
--nebula-workspace-grayscale: 100%; /* Edit the % to make non active workspace icons more colored */
--nebula-essentials-width: 60px !important; /* Edit the "60px" to something less to make width of essentials smaller */
--nebula-sidebar-width: 20em !important; /* Edit the 20em to any other value you would like for compact sidebar when nebula-compact-mode-sidebar-bg is true */
    
/* Tabs color */
--nebula-color: light-dark(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.35)); /* default color */
--nebula-color-hover: light-dark(rgba(255, 255, 255, 0.35), rgba(0, 0, 0, 0.45)); /* color when hovered */
--nebula-color-selected: light-dark(rgba(255, 255, 255, 0.45), rgba(0, 0, 0, 0.55)); /* color when selected */
}
 
/* DO NOT ADD OTHER CSS BELOW */
/* More styles and options will come soon here! */