@-moz-document domain(monkeytype.com) {
    body {
      background-color: rgba(15, 15, 20, 0.4) !important; /* Darker base color */
    }
  }

  :root{
  --zen-colors-tertiary: transparent !important;
  --zen-settings-secondary-background: transparent !important;
}

groupbox:not(#sineInstallationGroup:popover-open){
/*   background: var(--zen-colors-tertiary) !important; */
  background: var(--zen-colors-border-contrast) !important;
  border: none
}

@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
  body, .App{
    background-color: #00000070 !important;
  }

  .top-sites-list, .personalizeButtonWrapper{
    opacity: 0 !important;
    transition: opacity 0.3s ease-in-out;

    &:hover{
      opacity: 1 !important;
    }
  }
  
  .App > div:nth-child(2), .wallpaper{
    display: none !important;
  }
}

@-moz-document url(addons.mozilla.org) {
  /* transparency */
html, body, nav, header{
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* darkreader */
:root{
  --darkreader-background-ffffff: transparent !important;
}

/* no footer */
footer{
  display: none !important;
}
}

@-moz-document url(about:config){
  tr, table{
    background-color: transparent !important;
    border: none !important;
  }
  tr{
    outline: solid 1px #88888822 !important;
  }
}
