* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Hack Nerd Font";
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background: #26233a;
}

#window {
    background: #191724;

    padding: 2px 10px 0px 10px;

    border-radius: 8px;

    color: #929db1;
    font-size:16px;
    font-weight:bold;
}

window#waybar.empty #window {
    background: #191724;
    border-radius: 50%;
    min-width: 12px;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #262b35;
}

#workspaces {
    background: #191724;
    padding: 0px 1px;
    border-radius: 8px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;

}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    color: #cdd6f4;
}

#workspaces button.active {
    color: #8b40d0;
    opacity: 1.0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#power-profiles-daemon,
#idle_inhibitor {
    padding: 0 10px;
    margin: 5px 4px 5px 4px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 5px 4px 5px 4px;
}

#clock {
    background: #191724;
    color: #fab387;
    border-radius: 8px;
}

#idle_inhibitor {
    background: #191724;
    padding: 0 17px 0 10px;
    border-radius: 8px;
    color: #fa5aa4;
}

#battery {
    background: #191724;
    color: #a6e3a1;
    border-radius: 8px;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: #d663f7;
    background: #191724;
    border-radius: 0;

    margin-left: 0;
    margin-right: 0;
}

#memory {
    background: #191724;
    color: #f6c177;
    border-radius: 0 8px 8px 0;

    margin-left: 0;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background: #191724;
    border-radius: 8px;

    color: #fa5aa4;
}

#network {
    background-color: #2980b9;
    border-radius: 8px;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background: #191724;
    color: #0fb9b1;
    border-radius: 8px;

    transition: all 0.3s;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#temperature {
    background: #191724;
    color: #31748f;

    border-radius: 8px 0 0 8px;
    margin-left: 12px;
    margin-right: 0;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background: #191724;
    border-radius: 8px;
    margin-right: 12px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
